@model IEnumerable<BlowOut.Models.InstrumentClients>


@{

    ViewBag.Title = "Update Data";
}

<h2>UpdateData</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instrument.Desription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instrument.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instrument.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.ClientFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.ClientLastName)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.client.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.instrument.Desription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instrument.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instrument.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.ClientFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.ClientLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Clients", new { id = item.instrument.ClientID },null) |
            @Html.ActionLink("Delete", "Delete","Instruments", new { id = item.instrument.ClientID },null)
        </td>
    </tr>
    }

</table>











